<mb-body>

    <mb-wrapper>
        <mb-section border-radius="12">
            <mb-row>
                <mb-column>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <p>Paragraph</p>
                    <ul>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                    </ul>
                    <ol>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                    </ol>

                    <mb-divider></mb-divider>

                    <mb-spacer></mb-spacer>

                    <mb-button href="#" text="Click here"></mb-button>

                </mb-column>
            </mb-row>

            <mb-row>
                <mb-column>
                    <mb-img></mb-img>
                </mb-column>
            </mb-row>

            <mb-row full-width="true">
                <mb-column>
                    <mb-img corner="0"></mb-img>
                </mb-column>
            </mb-row>

            <mb-row>
                <mb-column width="250">
                    <p>Column 1</p>
                </mb-column>
                <mb-column width="40" height="20"></mb-column>
                <mb-column width="250">
                    <p>Column 2</p>
                </mb-column>
            </mb-row>

            <mb-row>
                <mb-column width="160">
                    <p>Column 1</p>
                </mb-column>
                <mb-column width="30" height="20"></mb-column>
                <mb-column width="160">
                    <p>Column 2</p>
                </mb-column>
                <mb-column width="30" height="20"></mb-column>
                <mb-column width="160">
                    <p>Column 3</p>
                </mb-column>
            </mb-row>

        </mb-section>

        <mb-row full-width="true">
            <mb-column width="310">
                <mb-section border-radius="12">
                    <mb-row>
                        <mb-column>
                            <p>Column 1</p>
                        </mb-column>
                    </mb-row>
                </mb-section>
            </mb-column>
            <mb-column width="20" height="20"></mb-column>
            <mb-column width="310">
                <mb-section border-radius="12">
                    <mb-row>
                        <mb-column>
                            <p>Column 2</p>
                        </mb-column>
                    </mb-row>
                </mb-section>
            </mb-column>
        </mb-row>

    </mb-wrapper>

    <mb-wrapper background-color="#ffffff">
        <mb-section border-radius="12">
            <mb-row background-url="http://cdn.backgroundhost.com/backgrounds/subtlepatterns/escheresque.png">
                <mb-column>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <p>Paragraph</p>
                    <ul>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                    </ul>
                    <ol>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                    </ol>

                    <mb-divider></mb-divider>

                    <mb-spacer></mb-spacer>

                    <mb-button href="#" text="Click here"></mb-button>
                </mb-column>
            </mb-row>
        </mb-section>
    </mb-wrapper>

    <mb-wrapper background-color="#dddddd" background-url="http://cdn.backgroundhost.com/backgrounds/subtlepatterns/escheresque.png">
        <mb-section border-radius="12">
            <mb-row>
                <mb-column>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <p>Paragraph</p>
                    <ul>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                    </ul>
                    <ol>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                    </ol>

                    <mb-divider></mb-divider>

                    <mb-spacer></mb-spacer>

                    <mb-button href="#" text="Click here"></mb-button>
                </mb-column>
            </mb-row>
        </mb-section>
    </mb-wrapper>

</mb-body>