<script props>

    const borderRadius = props['border-radius'] || ''

    let borderStyle = ''
    if (borderRadius) {
        borderStyle = 'border-radius: ' + borderRadius + 'px; border-collapse: separate!important; overflow: hidden;';
    }

    module.exports = {
        paddingTop: props['padding-top'] || 0,
        paddingBottom: props['padding-bottom'] || 0,
        backgroundColor: props['background-color'] || '#ffffff',
        borderStyle
    }
</script>

<table width="100%" bgcolor="{{ backgroundColor }}" style="{{ borderStyle }}">
    <if condition="paddingTop">
        <tr>
            <td height="{{ paddingTop }}" style="line-height: {{ paddingTop }}px"></td>
        </tr>
    </if>

    <tr>
        <td align="center">

            <yield></yield>

        </td>
    </tr>

    <if condition="paddingBottom">
        <tr>
            <td height="{{ paddingBottom }}" style="line-height: {{ paddingBottom }}px"></td>
        </tr>
    </if>
</table>